/* début parametres de base */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #383884;
  width: 100%;
  min-height: 100vh;
  margin: auto;
  font-family: "Gotham", arial, sans-serif;
  font-size: 16px;
  color: white;
}

img {
  width: 100%;
}

h1 {
  font-size: 40px;
  padding: 20px 0 5px 20px;
  color: white;
}

h2 {
  text-align: center;
  font-size: 35px;
  margin: 30px auto 50px auto;
  width: 60%;
}

h3 {
  color: white;
}

h4 {
  font-size: 22px;
  padding: 10px;
}

a {
  text-decoration: none;
  font-size: 15px;
  padding: 10px 10px;
  display: block;
  transition: 250ms linear all;
  color: white;
}

p {
  padding: 20px;
  font-size: 16px;
  text-align: center;
  color: white;
  text-align: left;
}

section {
  width: 100%;
  text-align: center;
  background-color: #383884;
}

span {
  background-color: #4eb7ad;
  color: white;
  padding-left: 5px;
  padding-right: 5px;
}

/* fin parametres de base */
/* début header */

header {
  width: 100%;
  background-image: linear-gradient(to left, #5753c9, #6e7ff3);
}

header .titre {
  background-color: #3d4e81;
}


header .container-fluid {
  padding: 5px 10px 0 10px;
  ;
}

header .container-fluid .row .col-md-12 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header img {
  width: 150px;
}

.connexion-deco {
  margin: 5px 5px 0 0;
}

.connexion-deco li {
  list-style: none;
}

.connexion-deco li a {
  font-size: 10px;
  font-family: helvetica, arial, sans-serif;
  color: white;
  text-align: center;
  padding: 2px;
  display: block;
  background-color: #3d4e81;
  border-radius: 5px;
  margin-top: 5px;
}

.connexion-deco p {
  padding: 0;
  color: white;
  font-family: "Gotham-bold", helvetica, sans-serif;
}

/* fin header */
/* début nav */

nav {
  background-color: #5753c9;
}

nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
}

nav ul li {
  list-style: none;
  width: 8%;
  transition: 250ms linear all;
}

nav ul li:hover {
  list-style: none;
  width: 8%;
  background-color: #6e7ff3;
}

nav ul li a {
  font-size: 14px;
  font-family: "Gotham", arial, sans-serif;
  color: white;
  text-align: center;
}

nav ul li ul {
  display: none;
}

/* fin nav */

.connexion {
  padding: 15px;
  border-radius: 10px;
  background-color: black;
  margin-top: 5px;
}

.connexion div:first-child {
  width: 90%;
}

#bloc-formulaire {
  width: 100%;
  min-height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  background-image: url('../images/background.jpg');
  background-position: center center;
  background-size: cover;
}

#accueil {
  background-image: url('../images/background-accueil.jpg');
  background-position: center center;
  background-size: cover;
  width: 100%;
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.picto-categories {
  width: 800px;
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  justify-content: space-between;
}

.picto-categories img {
  width: 120px;
}

.picto-categories a {
  font-size: 25px;
  color: white;
  text-decoration: none;
  font-family: "gotham-bold", helvetica, sans-serif;
}

#presentation img {
  width: 70%;
  margin: auto;
}

#formulaire,
.formulaire {
  width: 600px;
  padding: 20px;
  border-radius: 20px;
  margin: auto;
  background-image: linear-gradient(to top, #4eb7ad, #5753c9, #6e7ff3);
  opacity: 0.95;
}

#formulaire-connexion,
#sectiondiv-forum {
  width: 100%;
  min-height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

#sectiondiv-forum {
  width: 60%;
  margin: auto;
  justify-content: space-between;
  flex-wrap: wrap;
}

.deuxblocs {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.deuxblocs input {
  width: 47%;
}

label {
  color: white;
  width: 100px;
}

input,
textarea {
  margin: 10px 0 10px 0;
  padding: 10px;
  width: 90%;
  background-color: #6371ec;
  border-radius: 10px;
  border: 0;
  color: white;
  opacity: 0.7;
  font-family: "Gotham", helvetica, sans-serif;
}

input::placeholder,
textarea::placeholder {
  color: white;
  font-size: 1.3em;
}

textarea {
  width: 97%;
  height: 150px;
}

.genre {
  display: flex;
  justify-content: center;
}

.genre input {
  margin: 10px;
  padding: 0;
  border-radius: 10px;
}

.homme .femme {
  padding: 20px;
}

@-webkit-keyframes click-wave {
  0% {
    height: 30px;
    width: 30px;
    opacity: 0.35;
    position: relative;
  }

  100% {
    height: 200px;
    width: 200px;
    margin-left: -80px;
    margin-top: -80px;
    opacity: 0;
  }
}

@-moz-keyframes click-wave {
  0% {
    height: 30px;
    width: 30px;
    opacity: 0.35;
    position: relative;
  }

  100% {
    height: 200px;
    width: 200px;
    margin-left: -80px;
    margin-top: -80px;
    opacity: 0;
  }
}

@keyframes click-wave {
  0% {
    height: 30px;
    width: 30px;
    opacity: 0.35;
    position: relative;
  }

  100% {
    height: 200px;
    width: 200px;
    margin-left: -80px;
    margin-top: -80px;
    opacity: 0;
  }
}

.genre .option-input {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  top: 13.3333333333px;
  right: 0;
  bottom: 0;
  left: 0;
  height: 30px;
  width: 30px;
  -webkit-transition: all 0.15s ease-out 0s;
  -moz-transition: all 0.15s ease-out 0s;
  transition: all 0.15s ease-out 0s;
  background: #cbd1d8;
  border: none;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  margin-right: 0.5rem;
  outline: none;
  position: relative;
  z-index: 1000;
}

.genre .option-input:hover {
  background: #9faab7;
}

.genre .option-input:checked {
  background: #006cd7;
}

.genre .option-input:checked::before {
  height: 30px;
  width: 30px;
  position: absolute;
  content: '\2716';
  display: inline-block;
  font-size: 26.6666666667px;
  text-align: center;
  line-height: 30px;
}

.genre .option-input:checked::after {
  -webkit-animation: click-wave 0.65s;
  -moz-animation: click-wave 0.65s;
  animation: click-wave 0.65s;
  background: #006cd7;
  content: "";
  display: block;
  position: relative;
  z-index: 100;
}

.genre .option-input.radio {
  border-radius: 10px;
  margin: 30px;
}

.genre .option-input.radio::after {
  border-radius: 10px;
}

#envoyer {
  padding: 15px 0 15px 0;
  color: black;
  font-size: 16px;
  transition: linear all 0.4s;
  width: 150px;
  background-color: white;
  opacity: 1;
  margin: 30px auto 0 auto;
}

.container {
  padding-top: 60px;
  padding-bottom: 60px;
}

/* début footer */
footer {
  background-image: linear-gradient(to left, #4eb7ad, #5753c9, #6e7ff3);
  width: 100%;
  padding: 40px;
}

footer ul {
  list-style: none;
}

footer ul li a {
  color: white;
  font-family: "Gotham-bold", helvetica, sans-serif;
}


footer img {
  width: 150px;
  margin-left: 10px;
}

footer p {
  text-align: left;
  padding: 15px 10px;
}

.liens-annexes {
  display: flex;
}

.liens-annexes a {
  color: white;
  font-size: 10px;
  font-family: "Gotham-bold", helvetica, sans-serif;
  padding: 0 10px;
  margin-top: 30px;
}

.reset,
.envoyer {
  font-size: 15px;
}

.reset {
  background-color: #3d4e81;
}

.envoyer {
  background-color: white;
  color: black;
}

.reseaux-sociaux {
  margin-top: 20px;
  display: flex;
  justify-content: flex-start;
}

.reseaux-sociaux a {
  font-size: 25px;
  color: white;
}

.reseaux-sociaux a:hover {
  color: #6e7ff3;
}

.dernier-film h2 {
  text-align: left;
  font-size: 36px;
}

.dernier-film a,
.picto-categories a {
  display: block;
  margin: auto;
  background-color: #4eb7ad;
  color: black;
  width: 50%;
  border-radius: 10px;
}

.dernier-film-img img {
  transition: 250ms linear all;
}

.dernier-film-img img:hover,
.actualites img:hover {
  box-shadow: 0 0 100px 0 white;
  transform: scale(1.02);
}

.dernier-film p {
  text-align: left;
  margin: 20px;
}

.actualites h4 {
  height: 100px;
}

.actualités-img img {
  width: 100%;
  height: 130px;
  object-fit: cover;
  overflow: hidden;
  transition: 250ms linear all;
}

#separateur {
  width: 100%;
  height: 60px;
  background-color: #5753c9;
  margin: 30px 0 30px 0;
}

/* fin footer */

@media screen and (max-width: 768px) {
  main {
    margin: auto;
  }

  #sectiondiv-forum {
    justify-content: center;
  }

  @media screen and (max-width: 480px) {
    .deuxblocs input {
      width: 100%;
    }
